dj-database-url
dj-static
django-allauth
django_distill
django-compressor
django-debug-toolbar
django-extensions
django-sass-processor
django-simple-captcha
django-storages
django-taggit
Django
djlint
gunicorn
isort
libsass
psycopg2-binary
python-dotenv
python-keycloak
requests
unidecode
wagtail-localize
wagtail-markdown
wagtail-modeladmin
wagtail
wagtailmenus
dotenv
django-humanize
pyjwt