@font-face {
    font-family: 'fengardoneue';
    src:    url("fengardoneue_regular-webfont.ec7f7c10eaa1.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fengardoneue';
    src:    url("fengardoneue_black-webfont.92978b89e5c0.woff");
    font-weight: bold;
    font-style: normal;
}
