#chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;

    #chat-icon {
        background-color: #F72585;
        color: white;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }

        img {
            max-width: 60%;
        }
    }

    #chatbot {
        position: fixed;
        bottom: 80px;
        right: 0;
        width: 350px;
        height: 500px;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        background-color: #ffffff;
        @include tipografia;
        transition: transform 0.3s ease;
        transform: scale(0);
        /* Oculto por defecto */
        transform-origin: bottom right;
        margin: 1rem;

    }

    #chatbot.hidden {
        transform: scale(0);
        /* Ocultar ventana */
    }

    #chatbot:not(.hidden) {
        transform: scale(1);
        /* Mostrar ventana */
    }

    #chat-header {
        padding: 10px 15px;
        background-color: #FFF;
        border-bottom: 1px solid #ddd;
        padding: 1.2rem 0px;

        .chat-logo img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .chat-title {
            margin-left: 10px;

            h3 {
                margin: 0;
                font-size: 16px;
                color: #333;
            }

            p {
                margin: 0;
                font-size: 12px;
                color: #777;
            }

            .content-logo {
                position: relative;
            }

            .status {
                width: 10px;
                height: 10px;
                margin-bottom: -5px;
                margin-right: -5px;
                border-radius: 50% 50%;
                position: absolute;
                z-index: 1;
                bottom: 0px;
                right: 0px;

                &.online {
                    background-color: green;
                }

                &.offline {
                    background-color: #777;
                }
            }
        }
    }

    #chat-content {
        flex: 1;
        padding: 15px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #f9f9f9;

        .message-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &.user {
                align-items: flex-end;
            }

            .sender {
                font-size: 12px;
                font-weight: bold;
                color: #555;
                margin-bottom: 5px;
            }

            .message {
                max-width: 70%;
                padding: 10px 15px;
                border-radius: 15px;
                font-size: 14px;
                line-height: 1.5;
                word-wrap: break-word;

                &.bot {
                    align-self: flex-start;
                    background-color: #B5179E;
                    color: #FFF;
                }

                &.user {
                    align-self: flex-end;
                    background-color: #4CC9F0;
                    color: #222222;
                }
            }

            &.hide-sender .sender {
                display: none;
            }
        }

        .typing {
            display: flex;
            gap: 5px;

            span {
                width: 8px;
                height: 8px;
                background-color: #bbb;
                border-radius: 50%;
                animation: typingBounce 1.2s infinite ease-in-out;

                &:nth-child(2) {
                    animation-delay: 0.2s;
                }

                &:nth-child(3) {
                    animation-delay: 0.4s;
                }
            }
        }

        @keyframes typingBounce {

            0%,
            100% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-10px);
            }
        }

        .link-message {
            background-color: #f9f9f9;
            border-radius: 15px;
            padding: 15px;
            margin-top: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

            h4 {
                margin: 0 0 10px;
                font-size: 16px;
                color: #333;
            }

            ul {
                margin: 0;
                padding: 0 0 10px;
                list-style-type: disc;
                padding-left: 20px;
                font-size: 14px;
                color: #555;

                li {
                    margin-bottom: 5px;
                }
            }

            .link-button {
                display: inline-block;
                padding: 10px 15px;
                background-color: #007bff;
                color: #fff;
                text-decoration: none;
                border-radius: 5px;
                text-align: center;
                font-size: 14px;

                &:hover {
                    background-color: #0056b3;
                }
            }
        }

    }


    #chat-input {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: #FFF;
        border-top: 1px solid #ddd;

        input {
            flex: 1;
            padding: 10px;
            border: none;
            border-radius: 15px;
            background-color: #f1f1f1;
            font-size: 14px;
            outline: none;
        }

        button {
            margin-left: 10px;
            background: none;
            border: none;
            cursor: pointer;

            img {
                width: 50px;
                height: 50px;
            }
        }
    }
}

.sender-row {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.sender-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}

.sender {
    font-weight: bold;
    font-size: 14px;
    color: #555;
}

.link-message {
    display: none;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    @include tipografia;
    line-height: 1.5;
    max-width: 90%;
}


.link-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}


.benefits-list {
    list-style-type: disc;
    margin: 0;
    padding-left: 20px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #555;
}

.benefits-list li {
    margin-bottom: 5px;
}

// LINK CHAT BOT
.link-title {
    @include tipografia;
    color: rgb(89, 89, 89);
}

.link-button_chat {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    @include tipografia;
    font-weight: 600;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transition: 0.4s;
    width: 100%;
    color: rgb(255, 255, 255);
    background: #3F37C9;


    &:hover {
        text-decoration: none;
        opacity: 0.8;
        color: #fff;
    }
}

.link-image-container {
    position: relative;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    overflow: hidden;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

/* Mostrar cuando se envía un mensaje con enlace */
.link-message.visible {
    display: block;
    /* Solo visible cuando se agrega la clase `visible` */
}