{% load static wagtailimages_tags wagtailsettings_tags %}
<div class="mt-3 flex gap-1">
  <a href="{{ settings.base.NavigationSettings.linkedin_url }}">
    <img class="h-12 w-12 hover:translate-y-1"
         src="{% static 'images/linkedin-icon.svg' %}"
         alt="Linkedin icon"
         loading="lazy" />
  </a><a href="{{ settings.base.NavigationSettings.github_url }}">
  <img class="h-12 w-12 hover:translate-y-1"
       src="{% static 'images/github-icon.svg' %}"
       alt="Github icon"
       loading="lazy" />
</a>
</div>
{% comment %} <div class="mt-3 flex gap-1">
  <a href="/demo/astro-boilerplate">
    <img class="h-12 w-12 hover:translate-y-1"
         src="assets/images/twitter-icon.png"
         alt="Twitter icon"
         loading="lazy" />
  </a><a href="/demo/astro-boilerplate">
  <img class="h-12 w-12 hover:translate-y-1"
       src="assets/images/facebook-icon.png"
       alt="Facebook icon"
       loading="lazy" />
</a><a href="/demo/astro-boilerplate">
<img class="h-12 w-12 hover:translate-y-1"
     src="images/linkedin-icon.svg"
     alt="Linkedin icon"
     loading="lazy" />
</a><a href="/demo/astro-boilerplate">
<img class="h-12 w-12 hover:translate-y-1"
   src="assets/images/youtube-icon.png"
   alt="Youtube icon"
   loading="lazy" />
</a>
</div> {% endcomment %}